@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*  {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: white;

    .parallax_wrapper{
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        .intro_screen{
            height:100vh;
            background-color: tomato;
            @include align-center();
        }

        .outro_screen{
            
        }
    }
}