@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  color: white;
}

body .parallax_wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
          perspective: 300px;
}

body .parallax_wrapper .intro_screen {
  height: 100vh;
  background-color: #2e2e2e;
}

body .parallax_wrapper .intro_screen h1 {
  padding-top: 20%;
  text-align: center;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .parallax_wrapper .intro_screen p {
  text-align: center;
  display: block;
  color: #234a7d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto Slab', serif;
}

body .parallax_wrapper .outro_screen {
  height: 100vh;
  background-color: #ac8b6d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .parallax_wrapper .parallax_group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

body .parallax_wrapper .parallax_group .parallax_layer {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .parallax_wrapper .parallax_group .base_layer {
  -webkit-transform: translateZ(-300px) scale(2.05);
          transform: translateZ(-300px) scale(2.05);
}

body .parallax_wrapper .parallax_group .base_layer .base_layer_image {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

body .parallax_wrapper .parallax_group .mid_layer {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

body .parallax_wrapper .parallax_group .mid_layer .mid_layer_image {
  max-width: 100%;
  height: 70px;
}

body .parallax_wrapper .parallax_group .top_layer {
  -webkit-transform: translateZ(210px) scale(0.3);
          transform: translateZ(210px) scale(0.3);
}

body .parallax_wrapper .parallax_group .top_layer .material_list {
  font-size: 23pt;
  text-align: left;
  color: #ac8b6d;
  display: block;
}

body .parallax_wrapper .parallax_group .top_layer li {
  margin-bottom: 30px;
}

body .parallax_wrapper .parallax_group .top_layer .list_title {
  display: block;
  font-size: 30pt;
  text-align: left;
}

body .parallax_wrapper #intro {
  z-index: 0;
}

body .parallax_wrapper #group-1 {
  z-index: -1;
}

body .parallax_wrapper #group-1 > .base_layer {
  background-color: crimson;
}

body .parallax_wrapper #group-2 > .mid_layer {
  background-color: #234a7d;
}

body .parallax_wrapper #group-3 {
  z-index: -1;
}
/*# sourceMappingURL=parallax.css.map */